In [47]:
import pandas as pd

In [80]:
epl = []

epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_0506.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_0607.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_0708.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_0809.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_0910.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1011.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1112.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1213.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1314.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1415.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1516.csv'))
epl.append(pd.read_csv('/Users/abbyoneill/Desktop/data_mining_project/csv/england/epl_1617.csv'))

In [81]:
epl[1].head(50)

,Number,Name,Pos,Date of Birth,Birth Place,Previous Club,Current Club,Year
0,1,Jens Lehmann,G,11-10-69,Essen,Borussia Dortmund,Arsenal,2006
1,2,Abou Diaby,M,05-11-86,Paris,Auxerre,Arsenal,2006
2,4,Cesc Fábregas,M,05-04-87,Arenys de Mar,Barcelona,Arsenal,2006
3,5,Kolo Touré,D,19-03-81,Sokoura Bouaké,ASEC Mimosas,Arsenal,2006
4,6,Philippe Senderos,D,14-02-85,Geneva,Servette,Arsenal,2006
5,7,Tomáš Rosický,M,10-04-80,Prague,Borussia Dortmund,Arsenal,2006
6,8,Fredrik Ljungberg,M,16-04-77,Halmstad,Halmstad,Arsenal,2006
7,9,Júlio Baptista,M,10-01-81,São Paulo,Real Madrid,Arsenal,2006
8,10,William Gallas,D,17-08-77,Asnieres,Chelsea,Arsenal,2006
9,11,Robin van Persie,M,08-06-83,Rotterdam,Feyenoord,Arsenal,2006
10,13,Aliaksandr Hleb,M,05-01-81,Minsk,Stuttgart,Arsenal,2006
11,14,Thierry Henry,F,17-08-77,Paris,Juventus,Arsenal,2006
12,15,Denílson,M,16-02-88,São Paulo,São Paulo,Arsenal,2006
13,16,Mathieu Flamini,M,03-07-84,Marseille,Marseille,Arsenal,2006
14,19,Gilberto Silva,M,10-07-76,Lagoa da Prata,Atlético Mineiro,Arsenal,2006
15,20,Johan Djourou,D,18-01-87,Abidjan,Etoile-Carouge,Arsenal,2006
16,21,Mart Poom,G,02-03-72,Tallinn,Sunderland,Arsenal,2006
17,22,Gaël Clichy,D,26-07-85,Toulouse,Cannes,Arsenal,2006
18,24,Manuel Almunia,G,16-05-77,Pamplona,Celta Vigo,Arsenal,2006
19,25,Emmanuel Adebayor,F,26-02-84,Lomé,Monaco,Arsenal,2006
20,27,Emmanuel Eboué,D,06-04-83,Abidjan,Beveren,Arsenal,2006
21,30,Jeremie Aliadière,F,30-03-83,Rambouillet,Le Racing,Arsenal,2006
22,31,Justin Hoyte,D,20-11-84,Waltham Forest,None,Arsenal,2006
23,32,Theo Walcott,F,16-03-89,Newbury,Southampton,Arsenal,2006
24,33,Matthew Connolly,D,24-09-87,Barnet,None,Arsenal,2006
25,34,Ryan Garry,D,29-09-83,Hornchurch,None,Arsenal,2006
26,36,Vito Mannone,G,03-02-88,Desio,Atalanta,Arsenal,2006
27,37,Nacer Barazite,M,27-05-90,Arnhem,NEC Nijmegen,Arsenal,2006
28,38,Giorgos Efrem,M,07-05-89,Limassol,None,Arsenal,2006
29,39,Gavin Hoyte,D,06-06-90,Waltham Forest,None,Arsenal,2006
30,40,Henri Lansbury,M,10-12-90,Enfield,None,Arsenal,2006
31,41,Joe O'Cearuill,D,02-09-87,Edmonton,Watford,Arsenal,2006
32,42,Fran Mérida,M,03-04-90,Barcelona,Barcelona,Arsenal,2006
33,43,Mark Randall,M,28-09-89,Milton Keynes,None,Arsenal,2006
34,44,Jay Simpson,M,12-01-88,London,None,Arsenal,2006
35,45,Armand Traoré,D,10-08-89,Paris,Monaco,Arsenal,2006
36,46,Kieran Gibbs,M,26-09-89,Lambeth,None,Arsenal,2006
37,1,Thomas Sørensen,G,06-12-76,Fredericia,Sunderland,Aston Villa,2006
38,2,Mark Delaney,D,13-05-76,Haverfordwest,Cardiff C,Aston Villa,2006
39,3,Jlloyd Samuel,D,29-03-81,San Fernando,Charlton Ath,Aston Villa,2006
40,4,Olof Mellberg,D,09-03-77,Amncharad,Racing Santander,Aston Villa,2006
41,5,Martin Laursen,D,26-07-77,Farvoug,Milan,Aston Villa,2006
42,6,Gareth Barry,D,23-02-81,Hastings,None,Aston Villa,2006
43,8,Gavin McCann,M,01-10-78,Blackpool,Sunderland,Aston Villa,2006
44,10,John Carew,F,09-05-79,Lørenskog,Lyon,Aston Villa,2006
45,11,Stiliyan Petrov,M,07-05-79,Montana,Celtic,Aston Villa,2006
46,12,Steven Davis,M,01-01-85,Ballymena,None,Aston Villa,2006
47,13,Stuart Taylor,G,28-11-80,Romford,Arsenal,Aston Villa,2006
48,15,Gabriel Agbonlahor,F,13-10-86,Birmingham,None,Aston Villa,2006
49,16,Wilfred Bouma,D,15-06-78,Helmond,PSV Eindhoven,Aston Villa,2006

In [82]:
for i in range(12):
    epl[i] = epl[i].drop_duplicates(subset='Name')
    epl[i] = epl[i][['Name', 'Current Club']]

In [50]:
epl[10]

                        Name     Current Club
0               Kieran Gibbs          Arsenal
1            Per Mertesacker          Arsenal
2           Gabriel Paulista          Arsenal
3          Laurent Koscielny          Arsenal
4              Tomáš Rosický          Arsenal
5               Mikel Arteta          Arsenal
6              Jack Wilshere          Arsenal
7                 Mesut Özil          Arsenal
8             Olivier Giroud          Arsenal
9               David Ospina          Arsenal
10              Theo Walcott          Arsenal
11   Alex Oxlade-Chamberlain          Arsenal
12              Aaron Ramsey          Arsenal
13            Alexis Sánchez          Arsenal
14             Nacho Monreal          Arsenal
15             Santi Cazorla          Arsenal
16           Mathieu Flamini          Arsenal
17            Calum Chambers          Arsenal
18             Danny Welbeck          Arsenal
19           Héctor Bellerín          Arsenal
20              Serge Gnabry          Arsenal
21             Joel Campbell          Arsenal
22                 Petr Čech          Arsenal
23          Francis Coquelin          Arsenal
24            Mohamed Elneny          Arsenal
25           Ismaël Bennacer          Arsenal
26           Krystian Bielik          Arsenal
27               Dan Crowley          Arsenal
28       Kristopher da Graca          Arsenal
29              Kaylen Hinds          Arsenal
..                       ...              ...
734           Alexandre Song  West Ham United
735            James Tomkins  West Ham United
736         Cheikhou Kouyaté  West Ham United
737             Andy Carroll  West Ham United
738           Enner Valencia  West Ham United
739           Carl Jenkinson  West Ham United
740                   Adrián  West Ham United
741         Pedro Mba Obiang  West Ham United
742             Diafra Sakho  West Ham United
743               Mark Noble  West Ham United
744             Joey O'Brien  West Ham United
745            James Collins  West Ham United
746             Victor Moses  West Ham United
747    Angelo Ogbonna Obinze  West Ham United
748                Sam Byram  West Ham United
749             Doneil Henry  West Ham United
750            Dimitri Payet  West Ham United
751           Manuel Lanzini  West Ham United
752         Emmanuel Emenike  West Ham United
753          Michail Antonio  West Ham United
754              Reece Burke  West Ham United
755          Stephen Hendrie  West Ham United
756          Raphael Spiegel  West Ham United
757             Reece Oxford  West Ham United
758               Lewis Page  West Ham United
759              Josh Cullen  West Ham United
760   Djair Parfitt-Williams  West Ham United
761            Marcus Browne  West Ham United
762            George Dobson  West Ham United
763                Sam Howes  West Ham United

[764 rows x 2 columns]

In [83]:
transaction = []

for i in range(11):
    transaction.append(pd.merge(epl[i], epl[i+1], on=['Name']))

In [104]:
transfers = []

for i in range(10):
    transfers.append(transaction[i][transaction[i]['Current Club_x'] != transaction[i]['Current Club_y']])

In [105]:
transfer_list = pd.concat(transfers)

In [106]:
transfer_list = transfer_list.rename(columns = {'Current Club_x':'transfer_from', 'Current Club_y':'transfer_to'})

In [109]:
transfer_list = transfer_list.drop('Name', axis=1)

In [110]:
transfer_list.head()

   transfer_from        transfer_to
1        Arsenal            Chelsea
4        Arsenal         Portsmouth
9        Arsenal  Charlton Athletic
14       Arsenal         Portsmouth
31   Aston Villa   Newcastle United

In [111]:
transfer_list = pd.get_dummies(transfer_list, columns=["transfer_from", "transfer_to"])

In [140]:
transfer_list.head

<bound method NDFrame.head of      transfer_from_Arsenal  transfer_from_Aston Villa  \
1                        1                          0
4                        1                          0
9                        1                          0
14                       1                          0
31                       0                          1
34                       0                          1
44                       0                          0
45                       0                          0
46                       0                          0
47                       0                          0
48                       0                          0
49                       0                          0
51                       0                          0
57                       0                          0
58                       0                          0
67                       0                          0
97                       0                          0
99                       0                          0
104                      0                          0
105                      0                          0
115                      0                          0
119                      0                          0
120                      0                          0
121                      0                          0
130                      0                          0
141                      0                          0
143                      0                          0
145                      0                          0
162                      0                          0
168                      0                          0
..                     ...                        ...
187                      0                          0
188                      0                          0
205                      0                          0
232                      0                          0
234                      0                          0
272                      0                          0
273                      0                          0
274                      0                          0
275                      0                          0
276                      0                          0
278                      0                          0
280                      0                          0
290                      0                          0
303                      0                          0
312                      0                          0
324                      0                          0
331                      0                          0
349                      0                          0
351                      0                          0
352                      0                          0
382                      0                          0
384                      0                          0
386                      0                          0
389                      0                          0
394                      0                          0
402                      0                          0
405                      0                          0
413                      0                          0
416                      0                          0
428                      0                          0

     transfer_from_Birmingham City  transfer_from_Blackburn Rovers  \
1                                0                               0
4                                0                               0
9                                0                               0
14                               0                               0
31                               0                               0
34                               0                               0
44                               1                               0
45                               1                               0
46                               1                               0
47                               1                               0
48                               1                               0
49                               1                               0
51                               0                               1
57                               0                               1
58                               0                               1
67                               0                               1
97                               0                               0
99                               0                               0
104                              0                               0
105                              0                               0
115                              0                               0
119                              0                               0
120                              0                               0
121                              0                               0
130                              0                               0
141                              0                               0
143                              0                               0
145                              0                               0
162                              0                               0
168                              0                               0
..                             ...                             ...
187                              0                               0
188                              0                               0
205                              0                               0
232                              0                               0
234                              0                               0
272                              0                               0
273                              0                               0
274                              0                               0
275                              0                               0
276                              0                               0
278                              0                               0
280                              0                               0
290                              0                               0
303                              0                               0
312                              0                               0
324                              0                               0
331                              0                               0
349                              0                               0
351                              0                               0
352                              0                               0
382                              0                               0
384                              0                               0
386                              0                               0
389                              0                               0
394                              0                               0
402                              0                               0
405                              0                               0
413                              0                               0
416                              0                               0
428                              0                               0

     transfer_from_Blackpool  transfer_from_Bolton Wanderers  \
1                          0                               0
4                          0                               0
9                          0                               0
14                         0                               0
31                         0                               0
34                         0                               0
44                         0                               0
45                         0                               0
46                         0                               0
47                         0                               0
48                         0                               0
49                         0                               0
51                         0                               0
57                         0                               0
58                         0                               0
67                         0                               0
97                         0                               0
99                         0                               0
104                        0                               0
105                        0                               0
115                        0                               0
119                        0                               0
120                        0                               0
121                        0                               0
130                        0                               0
141                        0                               0
143                        0                               0
145                        0                               0
162                        0                               0
168                        0                               0
..                       ...                             ...
187                        0                               0
188                        0                               0
205                        0                               0
232                        0                               0
234                        0                               0
272                        0                               0
273                        0                               0
274                        0                               0
275                        0                               0
276                        0                               0
278                        0                               0
280                        0                               0
290                        0                               0
303                        0                               0
312                        0                               0
324                        0                               0
331                        0                               0
349                        0                               0
351                        0                               0
352                        0                               0
382                        0                               0
384                        0                               0
386                        0                               0
389                        0                               0
394                        0                               0
402                        0                               0
405                        0                               0
413                        0                               0
416                        0                               0
428                        0                               0

     transfer_from_Burnley  transfer_from_Cardiff City  \
1                        0                           0
4                        0                           0
9                        0                           0
14                       0                           0
31                       0                           0
34                       0                           0
44                       0                           0
45                       0                           0
46                       0                           0
47                       0                           0
48                       0                           0
49                       0                           0
51                       0                           0
57                       0                           0
58                       0                           0
67                       0                           0
97                       0                           0
99                       0                           0
104                      0                           0
105                      0                           0
115                      0                           0
119                      0                           0
120                      0                           0
121                      0                           0
130                      0                           0
141                      0                           0
143                      0                           0
145                      0                           0
162                      0                           0
168                      0                           0
..                     ...                         ...
187                      0                           0
188                      0                           0
205                      0                           0
232                      0                           0
234                      0                           0
272                      0                           0
273                      0                           0
274                      0                           0
275                      0                           0
276                      0                           0
278                      0                           0
280                      0                           0
290                      0                           0
303                      0                           0
312                      0                           0
324                      0                           0
331                      0                           0
349                      0                           0
351                      0                           0
352                      0                           0
382                      0                           0
384                      0                           0
386                      0                           0
389                      0                           0
394                      0                           0
402                      0                           0
405                      0                           0
413                      0                           0
416                      0                           0
428                      0                           0

     transfer_from_Charlton Athletic  transfer_from_Chelsea  \
1                                  0                      0
4                                  0                      0
9                                  0                      0
14                                 0                      0
31                                 0                      0
34                                 0                      0
44                                 0                      0
45                                 0                      0
46                                 0                      0
47                                 0                      0
48                                 0                      0
49                                 0                      0
51                                 0                      0
57                                 0                      0
58                                 0                      0
67                                 0                      0
97                                 1                      0
99                                 1                      0
104                                1                      0
105                                1                      0
115                                0                      1
119                                0                      1
120                                0                      1
121                                0                      1
130                                0                      1
141                                0                      0
143                                0                      0
145                                0                      0
162                                0                      0
168                                0                      0
..                               ...                    ...
187                                0                      0
188                                0                      0
205                                0                      0
232                                0                      0
234                                0                      0
272                                0                      0
273                                0                      0
274                                0                      0
275                                0                      0
276                                0                      0
278                                0                      0
280                                0                      0
290                                0                      0
303                                0                      0
312                                0                      0
324                                0                      0
331                                0                      0
349                                0                      0
351                                0                      0
352                                0                      0
382                                0                      0
384                                0                      0
386                                0                      0
389                                0                      0
394                                0                      0
402                                0                      0
405                                0                      0
413                                0                      0
416                                0                      0
428                                0                      0

                    ...                   transfer_to_Southampton  \
1                   ...                                         0
4                   ...                                         0
9                   ...                                         0
14                  ...                                         0
31                  ...                                         0
34                  ...                                         0
44                  ...                                         0
45                  ...                                         0
46                  ...                                         0
47                  ...                                         0
48                  ...                                         0
49                  ...                                         0
51                  ...                                         0
57                  ...                                         0
58                  ...                                         0
67                  ...                                         0
97                  ...                                         0
99                  ...                                         0
104                 ...                                         0
105                 ...                                         0
115                 ...                                         0
119                 ...                                         0

In [142]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

frequent_transfers = apriori(transfer_list, min_support=0.01, use_colnames=True)

In [150]:
rules = association_rules(frequent_transfers, metric="confidence", min_threshold=0.10)

In [151]:
rules.head()

,antecedants,consequents,support,confidence,lift
0,(transfer_from_Tottenham Hotspur),(transfer_to_Sunderland),0.073552,0.170213,2.589666
1,(transfer_to_Sunderland),(transfer_from_Tottenham Hotspur),0.065728,0.190476,2.589666